@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
.wedding-card__wrapper {
  background-color: #f1f1f1;
  font-family: "Gowun Batang", serif;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Noto Serif KR", serif;
}
.wedding-card__wrapper .wedding-card {
  margin: 0 auto;
  max-width: 420px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.inner {
  padding: 30px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main_date {
  position: relative;
  width: 50%;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  font-family: "Noto Serif KR", serif;
  z-index: 2;
}
.main_image {
  margin-top: -70px;
  z-index: 1;
}

.contents {
  color: #515151;
  font-size: 18px;
  font-weight: 400;
  font-family: "Gowun Batang", serif;
}
.contents h6 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Gowun Batang", serif;
  text-align: center;
}
.contents.contents_01 {
  position: relative;
}
.contents.contents_01::before, .contents.contents_01::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  width: 100px;
  height: 1px;
  background-color: #f1f1f1;
}
.contents.contents_01::before {
  top: 0;
}
.contents.contents_01::after {
  bottom: 0;
}
.contents.contents_01 .who {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.contents.contents_01 .who span:last-of-type {
  position: relative;
  margin-left: 15px;
  padding-left: 15px;
}
.contents.contents_01 .who span:last-of-type:last-of-type::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  content: "";
  width: 1px;
  height: 70%;
  background-color: #ddd;
}
.contents.contents_01 .where p {
  text-align: center;
}
.contents.contents_02 h6 {
  margin-bottom: 20px;
  font-size: 20px;
}
.contents.contents_04 .maplestory_wedding {
  padding: 30px;
  border: 3px solid #f1f1f1;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.contents.contents_04 .maplestory_wedding_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.contents.contents_04 .maplestory_wedding .maple_baby {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contents.contents_04 .maplestory_wedding .maple_baby p {
  flex: 1;
  font-family: "Maplestory";
}
.contents.contents_04 .maplestory_wedding .maple_baby.hyeran p {
  margin-right: 10px;
  text-align: right;
}
.contents.contents_04 .maplestory_wedding .maple_baby.hyeran > img {
  width: 30%;
}
.contents.contents_04 .maplestory_wedding .maple_baby.jongmin p {
  margin-left: 10px;
  text-align: left;
}
.contents.contents_04 .maplestory_wedding .maple_baby.jongmin > img {
  width: 25%;
}
.contents.contents_05 h6 {
  margin-bottom: 20px;
  font-size: 20px;
}
.contents:last-of-type {
  padding-bottom: 30px;
}

.account_wrapper .account:last-of-type {
  margin-top: 10px;
}
.account_wrapper .account_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 14px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.account_wrapper .account_title .arrow {
  width: 17px;
  margin-top: 3px;
  margin-left: 7px;
}
.account_wrapper .account_title .arrow.on {
  margin-top: -4px;
  transform: rotate(180deg);
}
.account_wrapper .account_list {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f1f1;
  display: none;
}
.account_wrapper .account_list.on {
  display: flex;
}
.account_wrapper .account_list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.account_wrapper .account_list li:last-of-type {
  border-bottom: 0;
}
.account_wrapper .account_list li div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}
.account_wrapper .account_list li button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.account_wrapper .account_list li button svg {
  width: 12px;
  height: 12px;
  margin-right: 7px;
  vertical-align: middle;
  fill: #999;
}

.calendar-table__wrapper {
  padding: 30px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.calendar-table__wrapper .calendar_table {
  width: 100%;
  margin: 0 auto;
  font-size: 0.875rem;
  font-family: "Gowun Batang", serif;
}
.calendar-table__wrapper .calendar_table th, .calendar-table__wrapper .calendar_table td {
  text-align: center;
}
.calendar-table__wrapper .calendar_table thead tr th {
  padding-bottom: 20px;
}
.calendar-table__wrapper .calendar_table tbody tr td {
  padding-bottom: 10px;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day {
  position: relative;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day span {
  z-index: 2;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day .pulsating-circle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
  color: #000;
  font-size: 30px;
  border-radius: 50%;
  z-index: -1;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day .pulsating-circle:before {
  position: relative;
  content: "";
  display: block;
  width: 300%;
  height: 300%;
  margin-top: -100%;
  margin-left: -100%;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(216, 255, 0, 0.2);
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day .pulsating-circle:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 255, 0, 0.8);
  border-radius: 50%;
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}
@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

footer {
  padding: 30px;
  background-color: #f1f1f1;
}
footer ul {
  margin-bottom: 15px;
}
footer ul li {
  margin-bottom: 20px;
}
footer ul li:first-of-type {
  margin-bottom: 30px;
}
footer ul li:first-of-type button {
  padding-bottom: 0;
}
footer ul li button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  font-family: "Gowun Batang", serif;
  cursor: pointer;
}
footer ul li button:hover, footer ul li button:active {
  -webkit-text-decoration: underline 1px rgb(216, 255, 0);
          text-decoration: underline 1px rgb(216, 255, 0);
}
footer ul li button svg {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 0;
}
footer ul li button span {
  position: absolute;
  left: 50%;
  bottom: 7px;
  transform: translate(-50%, 0);
  font-size: 9px;
  white-space: nowrap;
}
footer .copyright {
  padding-top: 30px;
  font-size: 9px;
  text-align: center;
  font-family: "Gowun Batang", serif;
  border-top: 1px solid #ddd;
}
footer .copyright span {
  background-color: rgba(216, 255, 0, 0.8);
}
@keyframes animate-body {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.image-gallery {
  width: 100%;
  height: auto;
  max-width: 700px;
  background: #fff;
  overflow: auto;
  padding: 5px;
  margin: 50px auto 0;
  box-shadow: 0 3px 10px #ec3f3f;
}
@media screen and (min-width: 800px) {
  .image-gallery {
    height: 500px;
  }
}
.image-gallery-items {
  position: relative;
}
.image-gallery-items:before, .image-gallery-items:after {
  content: " ";
  display: table;
}
.image-gallery-items:after {
  clear: both;
}

.gallery-item {
  position: relative;
  float: left;
  width: 50%;
  padding: 8px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media screen and (min-width: 480px) {
  .gallery-item {
    width: 33.33333%;
  }
}
@media screen and (min-width: 680px) {
  .gallery-item {
    width: 25%;
  }
}
.gallery-item > div {
  position: relative;
}
.gallery-item > div:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.thumbnail {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.thumbnail:after {
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: inherit;
  transform: translate(-50%, -50%);
  transition: transform 150ms ease-in-out;
}
.thumbnail span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(50%, 50%);
}
.thumbnail:hover img {
  transform: translate(-50%, -50%) scale(1.15);
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-hide {
  display: none !important;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  background: none;
  border: none;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  cursor: pointer;
  outline: 0;
}
.mfp-close:active {
  top: 1px;
}
.mfp-image-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
}
.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto;
}
.mfp-figure {
  line-height: 0;
  cursor: pointer;
}
.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #f3f3f3;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: none;
  border: none;
  cursor: pointer;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before, .mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}
.mfp-s-ready .mfp-preloader {
  display: none !important;
}/*# sourceMappingURL=style.css.map */