@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
.wedding-card__wrapper {
  background-color: #f1f1f1;
  font-family: "Gowun Batang", serif;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Noto Serif KR", serif;
}
.wedding-card__wrapper .wedding-card {
  margin: 0 auto;
  max-width: 420px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.inner {
  padding: 30px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
.main_date {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  font-family: "Noto Serif KR", serif;
}
.main_image {
  padding: 30px;
  background-color: #f1f1f1;
}

.contents {
  color: #515151;
  font-size: 18px;
  font-weight: 400;
  font-family: "Gowun Batang", serif;
}
.contents h6 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Gowun Batang", serif;
  text-align: center;
}
.contents.contents_01 {
  position: relative;
  padding: 80px 0;
}
.contents.contents_01::before, .contents.contents_01::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  width: 1px;
  height: 80px;
}
.contents.contents_01::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.contents.contents_01::after {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.contents.contents_01 .who {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.contents.contents_01 .who span:last-of-type {
  position: relative;
  margin-left: 15px;
  padding-left: 15px;
}
.contents.contents_01 .who span:last-of-type:last-of-type::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  content: "";
  width: 1px;
  height: 70%;
  background-color: #ddd;
}
.contents.contents_01 .where p {
  text-align: center;
}
.contents.contents_02 h6 {
  margin-bottom: 20px;
  font-size: 20px;
}
.contents.contents_04 .maplestory_wedding {
  padding: 30px;
  border: 3px solid #f1f1f1;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.contents.contents_04 .maplestory_wedding_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.contents.contents_04 .maplestory_wedding .maple_baby {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contents.contents_04 .maplestory_wedding .maple_baby p {
  flex: 1;
  font-family: "Maplestory";
}
.contents.contents_04 .maplestory_wedding .maple_baby.hyeran p {
  margin-right: 10px;
  text-align: right;
}
.contents.contents_04 .maplestory_wedding .maple_baby.hyeran > img {
  width: 30%;
}
.contents.contents_04 .maplestory_wedding .maple_baby.jongmin p {
  margin-left: 10px;
  text-align: left;
}
.contents.contents_04 .maplestory_wedding .maple_baby.jongmin > img {
  width: 25%;
}
.contents.contents_05 h6 {
  margin-bottom: 20px;
  font-size: 20px;
}
.contents:last-of-type {
  padding-bottom: 30px;
}

.slider-for {
  position: relative;
}
.slider-nav {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  margin-top: 20px;
}
.slider-nav .slick-slide {
  cursor: pointer;
}
.slider-nav .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  font-size: 0;
  background-image: url("../image/icon_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.slider-nav .slick-arrow.slick-prev {
  left: -30px;
  transform: rotate(180deg);
}
.slider-nav .slick-arrow.slick-next {
  right: -30px;
}

.account_wrapper .account:last-of-type {
  margin-top: 10px;
}
.account_wrapper .account_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 14px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.account_wrapper .account_title .arrow {
  width: 17px;
  margin-top: 3px;
  margin-left: 7px;
}
.account_wrapper .account_title .arrow.on {
  margin-top: -4px;
  transform: rotate(180deg);
}
.account_wrapper .account_list {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f1f1;
  display: none;
}
.account_wrapper .account_list.on {
  display: flex;
}
.account_wrapper .account_list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.account_wrapper .account_list li:last-of-type {
  border-bottom: 0;
}
.account_wrapper .account_list li div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}
.account_wrapper .account_list li button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.account_wrapper .account_list li button svg {
  width: 12px;
  height: 12px;
  margin-right: 7px;
  vertical-align: middle;
  fill: #999;
}

.calendar-table__wrapper {
  padding: 30px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.calendar-table__wrapper .calendar_table {
  width: 100%;
  margin: 0 auto;
  font-size: 0.875rem;
  font-family: "Gowun Batang", serif;
}
.calendar-table__wrapper .calendar_table th, .calendar-table__wrapper .calendar_table td {
  text-align: center;
}
.calendar-table__wrapper .calendar_table thead tr th {
  padding-bottom: 20px;
}
.calendar-table__wrapper .calendar_table tbody tr td {
  padding-bottom: 10px;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day {
  position: relative;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day span {
  z-index: 2;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day .pulsating-circle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
  color: #000;
  font-size: 30px;
  border-radius: 50%;
  z-index: -1;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day .pulsating-circle:before {
  position: relative;
  content: "";
  display: block;
  width: 300%;
  height: 300%;
  margin-top: -100%;
  margin-left: -100%;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(216, 255, 0, 0.2);
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.calendar-table__wrapper .calendar_table tbody tr td.d-day .pulsating-circle:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 255, 0, 0.8);
  border-radius: 50%;
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}
@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

footer {
  padding: 30px;
  background-color: #f1f1f1;
}
footer ul {
  margin-bottom: 15px;
}
footer ul li {
  margin-bottom: 20px;
}
footer ul li:first-of-type {
  margin-bottom: 30px;
}
footer ul li:first-of-type button {
  padding-bottom: 0;
}
footer ul li button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  font-family: "Gowun Batang", serif;
  cursor: pointer;
}
footer ul li button:hover, footer ul li button:active {
  -webkit-text-decoration: underline 1px rgb(216, 255, 0);
          text-decoration: underline 1px rgb(216, 255, 0);
}
footer ul li button svg {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 0;
}
footer ul li button span {
  position: absolute;
  left: 50%;
  bottom: 7px;
  transform: translate(-50%, 0);
  font-size: 9px;
  white-space: nowrap;
}
footer .copyright {
  padding-top: 30px;
  font-size: 9px;
  text-align: center;
  font-family: "Gowun Batang", serif;
  border-top: 1px solid #ddd;
}
footer .copyright span {
  background-color: rgba(216, 255, 0, 0.8);
}/*# sourceMappingURL=style.css.map */